@font-face {
  font-family: "Satoshi";
  src: url("./assets/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf")
    format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  box-sizing: border-box;
}
